body  
      {
      font-family: tahoma;
      }

img
      {
      float: left;
      }

#wstep
      {
      width: 50%;
      }

#tresc1
       {
       width: 50%;
       }

#tresc2
       {
       width: 50%;
       }

#tresc3
       {
       width: 50%;
       }
